<mat-toolbar color="primary" fxLayoutGap="8px">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon svgIcon="green-leaf"></mat-icon>
  <a mat-button routerLink="/home">
    <h1>Lemon Mart</h1>
  </a>
  <span class="flex-spacer"></span>
  <button mat-icon-button routerLink="/user/profile" matTooltip="Profile"
    aria-label="User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button routerLink="/user/logout" matTooltip="Logout"
    aria-label="Logout">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
